
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$blue: #1a73e8;
$grey: #DADCE0;

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    @media (max-width: 600px) {
        justify-content: space-between;
        padding: 40px;
    }
    .form-container {
        width: 450px;
        height: 500px;
        border: 1px solid $grey;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        @media (max-width: 600px) {
            border-radius: 0px;
            border: none;
            width: 100%;
            padding: 0px;
        }
        .logo-container {
            display: flex;
            justify-content: center;
            .form-logo {
                width: 75px;
                height: 40px;
            }
        }
        .form-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 10px;
                padding-top: 10px;
            }
        }
        .form {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 30px;
            flex-direction: column;
            input[type='email'] {
                width: 100%;
                font-size: 16px;
                padding: 18px;
                border: 1px solid $grey;
                border-radius: 5px;
                outline: none;
                height: 55px;
                font-family: 'Roboto', sans-serif;
                &:focus {
                    border: 2px solid $blue;
                }
            }
            .forgot-email {
                color: $blue;
                font-weight: 600;
                font-size: 15px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
        .guest-mode {
            margin-top: 45px;
            font-size: 14px;
            line-height: 1.4286;
            color: #5f6368;
            span {
                &:nth-child(2) {
                    color: $blue;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
        .btn-container {
            margin-top: 45px;
            display: flex;
            justify-content: space-between;
            .next {
                background-color: $blue;
                color: #fff;
                font-size: 13px;
                border: none;
                padding: 9px 24px;
                border-radius: 4px;
                outline: none;
                cursor: pointer;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 0.3px;
                &:hover {
                    background-color: #1B66CA;
                }
            }
            .create-acc {
                @extend .next;
                background-color: transparent;
                color: $blue;
                padding: 0px;
                &:hover {
                    background-color: transparent; 
                }
            }
        }
    }
    .footer {
        margin-top: 20px;
        width: 450px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 600px) {
            margin-top: 0px;
            width: 100%;
        }
        .select-language {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 12px;
        }
        .footer-items-container {
            .footer-item {
                font-size: 14px;
                color: #5f6368;
                cursor: pointer;
                margin-right: 20px;
                &:nth-child(3) {
                    margin-right: 0px;
                }
            }
        }
    }
}